spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/librarydb
    username: library
    password: library
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

server:
  port: 8086
